# Data Cleaning

In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

In [2]:
engine = create_engine('postgresql://willnobles:localhost@localhost:5432/diabetes')

# Read the data from CSV files
ids_mapping = pd.read_csv('./dataset_diabetes/dataset_diabetes/IDs_mapping.csv')
diabetic_data = pd.read_csv('./dataset_diabetes/dataset_diabetes/diabetic_data.csv')

# Name the tables
ids_mapping.to_sql('IDs_mapping', engine, index=False, if_exists='replace')
diabetic_data.to_sql('Diabetes', engine, index=False, if_exists='replace')

In [3]:
# Check for access to the IDs_mapping table
query = 'SELECT * FROM "IDs_mapping";'
df_id = pd.read_sql(query, engine)

df_id.head()

  admission_type_id    description
0                 1      Emergency
1                 2         Urgent
2                 3       Elective
3                 4        Newborn
4                 5  Not Available

In [4]:
# Check for access to the Diabetes table
query = 'SELECT * FROM "Diabetes";'
df_diabetes = pd.read_sql(query, engine)

df_diabetes.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [5]:
# Look at all the columns
df_diabetes.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [6]:
# Get an idea of the number of rows
df_diabetes.shape

(101766, 50)

In [7]:
df_diabetes.dtypes

encounter_id                 int64
patient_nbr                  int64
race                        object
gender                      object
age                         object
weight                      object
admission_type_id            int64
discharge_disposition_id     int64
admission_source_id          int64
time_in_hospital             int64
payer_code                  object
medical_specialty           object
num_lab_procedures           int64
num_procedures               int64
num_medications              int64
number_outpatient            int64
number_emergency             int64
number_inpatient             int64
diag_1                      object
diag_2                      object
diag_3                      object
number_diagnoses             int64
max_glu_serum               object
A1Cresult                   object
metformin                   object
repaglinide                 object
nateglinide                 object
chlorpropamide              object
glimepiride                 object
acetohexamide               object
glipizide                   object
glyburide                   object
tolbutamide                 object
pioglitazone                object
rosiglitazone               object
acarbose                    object
miglitol                    object
troglitazone                object
tolazamide                  object
examide                     object
citoglipton                 object
insulin                     object
glyburide-metformin         object
glipizide-metformin         object
glimepiride-pioglitazone    object
metformin-rosiglitazone     object
metformin-pioglitazone      object
change                      object
diabetesMed                 object
readmitted                  object
dtype: object

### Missing Values
We can see that there are a number of missing values for features like `race`, `weight`, and `payer_code` that are categorized with a "?". Missing values for columns like `race` and `payer_code` can be removed without affecting the data very much, but removing them for `weight` will have a big impact since that would involve removing almost 97% of the data.

In [8]:
# Replace all unknown values with NaN
df_diabetes.replace('?', np.nan, inplace=True)

In [9]:
df_diabetes['race'].value_counts()

Caucasian          76099
AfricanAmerican    19210
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64

In [10]:
df_diabetes['weight'].value_counts()

[75-100)     1336
[50-75)       897
[100-125)     625
[125-150)     145
[25-50)        97
[0-25)         48
[150-175)      35
[175-200)      11
>200            3
Name: weight, dtype: int64

In [11]:
df_diabetes['payer_code'].value_counts()

MC    32439
HM     6274
SP     5007
BC     4655
MD     3532
CP     2533
UN     2448
CM     1937
OG     1033
PO      592
DM      549
CH      146
WC      135
OT       95
MP       79
SI       55
FR        1
Name: payer_code, dtype: int64

Other important features that may be useful for a regression model later on are related to the diagnosis. Let's check how many null values are in each of the diagnosis columns.

In [12]:
df_diabetes['diag_1'].isnull().sum()

21

In [13]:
df_diabetes['diag_2'].isnull().sum()

358

In [14]:
df_diabetes['diag_3'].isnull().sum()

1423

The largest number of null values comes from the `diag_3` column, but, like the `race` and `payer_code` columns, there are so few of these values relative to the size of the dataset that removing them will likely not affect the data very much. We can remove rows with null values for the diagnosis columns, as well as `payer_code` and `race` columns.

In [15]:
# Delete these row indexes from DataFrame
df_diabetes.dropna(subset=['payer_code', 'race', 'diag_1', 'diag_2', 'diag_3'], inplace=True)

In [16]:
# Sanity check that there are no null/unknown values
df_diabetes['payer_code'].isnull().sum()
df_diabetes['race'].isnull().sum()
df_diabetes['diag_1'].isnull().sum()
df_diabetes['diag_2'].isnull().sum()
df_diabetes['diag_3'].isnull().sum()

0

In [17]:
df_diabetes.shape

(59129, 50)

### Duplicate Values
Note that each patient has a unique identifier called `patient_nbr`, but there are multiple encounters for each patient. We should ensure that our data includes only one encounter per patient, specifically the first encounter.

In [18]:
df_diabetes.duplicated(subset=['patient_nbr'])

20446     False
20737     False
20824     False
21083     False
23668     False
          ...
101760     True
101761     True
101762     True
101763     True
101764     True
Length: 59129, dtype: bool

We'll first sort by `encounter_id` in descending order so that the duplicates we remove will be encounters with a higher identification number since they're likely a subsequent encounter.

In [19]:
df_diabetes.sort_values(['encounter_id'], ascending=False).groupby('patient_nbr').head(10)

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
101764,443857166,31693671,Caucasian,Female,[80-90),NaN,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),NaN,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101762,443847782,74694222,AfricanAmerican,Female,[80-90),NaN,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101761,443847548,100162476,AfricanAmerican,Male,[70-80),NaN,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101760,443847176,50375628,AfricanAmerican,Female,[60-70),NaN,1,1,7,6,...,No,Down,No,No,No,No,No,Ch,Yes,>30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23668,80820942,20514150,Caucasian,Female,[60-70),NaN,2,1,1,4,...,No,Up,No,No,No,No,No,Ch,Yes,<30
21083,73731852,20542797,Caucasian,Male,[70-80),NaN,1,2,7,10,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
20824,73062156,20408121,Caucasian,Female,[90-100),NaN,1,1,7,4,...,No,No,No,No,No,No,No,No,Yes,NO
20737,72848634,20377854,Caucasian,Female,[60-70),NaN,2,1,1,3,...,No,Steady,No,No,No,No,No,No,Yes,NO
20446,72091308,20123568,Caucasian,Female,[70-80),NaN,1,22,7,7,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [20]:
# Drop duplicates based on patient number, keeping only the last value since that will be the first encounter
df_diabetes.drop_duplicates(subset='patient_nbr', keep='last', inplace=True)

Let's now check that we've removed all duplicate patient records by comparing the number of unique patient values with the number of rows in the dataframe to make sure they're the same.

In [21]:
print(f"Unique patient values: {df_diabetes['patient_nbr'].nunique()}, rows: {len(df_diabetes.index)}")

Unique patient values: 39726, rows: 39726

### Formatting and Healthcare-Specific Information
Next, let's look at the `discharge_disposition_id` column. There are 28 unique codes that the [Centers for Medicare & Medicaid Services]('https://www.cms.gov/medicare/medicare-contracting/contractorlearningresources/downloads/ja0801.pdf') (CMS) uses to classify how a patient was discharged.

In [22]:
df_diabetes.discharge_disposition_id.sort_values().unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 11, 13, 14, 15, 16, 17, 18, 19,
       20, 22, 23, 24, 25, 27, 28])

Since we want to predict whether a patient will be readmitted within 30 days after their first encounter, we should remove rows with a `discharge_disposition_id` equal to 20 since that code is used when a patient dies or is classified as "Expired."

In [23]:
# Get indices in discharge_disposition_id column where the code is 20 (i.e. "Expired")
expired_indices = df_diabetes[(df_diabetes['discharge_disposition_id'] == 20)].index

# Delete these row indexes from DataFrame
df_diabetes.drop(expired_indices, inplace=True)

In [24]:
# Check that "20" has been removed
df_diabetes.discharge_disposition_id.sort_values().unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 11, 13, 14, 15, 16, 17, 18, 19,
       22, 23, 24, 25, 27, 28])

We should also look again at the diagnosis columns. The meaning of the codes comes from the World Health Organization and are part of The International Classification of Diseases. Since this dataset comes from hospital records from the years 1999-2008, we want to look at the [Ninth Revision, Clinical Modification (ICD-9-CM)]('https://www.cdc.gov/nchs/icd/icd9cm.htm') codes.

In [25]:
df_diabetes['diag_1'].unique()

array(['821', 'V56', '532', '682', '250.02', '491', '536', '238', '276',
       '250.8', '112', '410', '996', '574', '566', '428', '577', '557',
       '786', '728', '715', '348', '434', '722', '250.03', '562', '614',
       '250.12', '296', '995', '780', '459', '414', '486', '435', '278',
       '714', '227', '924', '415', '376', '401', '553', '250.22', '807',
       '571', '648', '586', '730', '427', '535', '458', '552', '294',
       '433', '959', '852', '790', '174', '250.82', '320', '618', '997',
       '436', '402', '38', '250.7', '250.6', '493', '824', '286', 'V57',
       '250.13', '220', '584', '578', '188', '530', '490', '403',
       '250.11', '440', '162', '250.2', '307', '8', '225', '411', '199',
       '295', '600', '560', '723', '724', '437', '386', '518', '721',
       '599', '438', '197', '183', '507', '882', '516', '564', '426',
       '157', '808', '292', '707', '250.3', '155', '710', '79', '466',
       '290', '537', '250.1', '608', '346', '423', '331', '558', '189',
       'V55', '575', '453', '781', '280', '820', '799', '404', '342',
       '444', '998', '481', '293', '180', '592', '154', '576', '540',
       '513', '195', '285', '789', '511', '461', '281', '585', '626',
       '250.92', '135', '250.83', '787', '70', '250.4', '202', '153',
       '303', '512', '527', '718', '515', '753', '788', '333', '822',
       '250.41', '185', '198', '274', '641', '416', '205', '250.42',
       '802', '482', '784', '604', '782', '432', '443', '250', '379',
       '355', '378', '485', '226', '591', '573', '531', '211', '413',
       '681', '196', '261', '344', '235', '291', '218', '727', '590', '9',
       '534', '588', '625', '716', '47', '619', '345', '705', '287',
       '519', '726', '425', '881', '241', '431', '370', '644', '88',
       '594', '394', '526', '572', '332', '759', '642', '311', '813',
       '300', '962', '738', '733', '454', '250.81', '203', '596', '569',
       '441', '405', '620', 'V58', '200', '851', '156', '737', '250.43',
       '309', '250.93', '495', 'V53', '655', '398', '340', '250.32',
       '825', '567', '473', '451', '812', '310', '215', '171', '421',
       '297', '5', '891', '595', '151', '492', '659', '866', '304', '424',
       '475', '729', '75', '823', '785', '711', '250.21', '430', '555',
       '556', '455', 'V54', '335', '252', '805', '298', '250.01', '719',
       '922', '510', '204', '897', '193', '969', '42', '756', '288',
       '305', '580', '242', '239', '446', '447', '674', '521', '182',
       '783', '359', '834', '284', '945', '465', '214', '524', '53',
       '275', '593', '233', '487', '691', '420', '508', '522', '184',
       '445', '456', '656', '161', 'V45', '282', '550', '289', '251',
       '879', '474', '736', '246', '658', '263', '695', '496', '250.31',
       '794', '380', '191', '528', '201', '255', '250.23', '277', '917',
       '396', '442', '208', '717', '351', '250.5', '478', '965', '893',
       '429', '972', '646', '964', '694', '306', '955', '653', '860',
       '873', '977', '149', '863', '146', '494', '810', '565', '664',
       '844', '734', '966', '654', '661', '601', '341', '230', '283',
       '581', '854', '617', 'V71', '49', '660', '933', '464', '388',
       '312', '192', '136', '194', '250.33', '163', '244', '579', '216',
       '374', '210', '568', '999', '853', '253', '334', '989', '35',
       '847', '353', '652', '514', '152', '880', '921', '377', '935',
       '237', '986', '164', '868', '611', '683', '448', '920', '602', '3',
       '382', '187', '801', '462', '417', '708', '647', '349', '732',
       '607', '616', '385', '11', '350', '861', '735', '865', '720',
       '816', '870', '725', '533', '840', '693', '470', '970', '936',
       '835', '150', 'V26', '862', '272', '358', '958', '680', '82', '61',
       '357', '621', '850', '663', '142', '610', '706', '360', '684',
       '314', '173', '692', '94', '796', '223', '240', '623', '883',
       '980', '845', '368', '971', '250.9', '384', '452', '843', '245',
       '457', '864', '963', '892', '327', '41', '480', '751', '842',
       '814', '645', '793', '541', '323', '665', '944', '115', '923',
       '412', '363', '957', '815', '175', '831', '976', '598', '952',
       '299', '627', '273', '266', '34', '336', '362', '745', '836',
       '992', '934', '98', '31', '570', '250.91', '605', '941', '250.53',
       '551', '337', '228', '806', '66', '84', '54', '685', '212', '837',
       '657', '886', '703', '523', '542', '397', '114', '338', '308',
       '372', '696', '354', '383', '36', '968', 'E909', 'V63', 'V66',
       '746', 'V07', '141', '846', '867', '826', '422', '991', '731',
       '463', '622', '279', '78', '803', '919', '709', '800', '158',
       '875', '236', '179', '501', '229', '686', '890', '747', '147',
       '381', '632', '804', '23', '643', '58', '795', '529', '967', '649',
       '615', '322', '110', '583', '983', '928', '271', '975', '301',
       '690', '878', '250.52', '603', '10', 'V51'], dtype=object)

Note that there are a few codes with a float value of 250 followed by two digits (e.g. 250.52). These are codes specifically to [diabetes-related diagnoses]('https://www.ncbi.nlm.nih.gov/books/NBK368403/table/sb203.t5/'). We'll map the codes to their definitions below, making sure to categorize all float values as "diabetes-related."

In [26]:
def icd9_code_to_definition(row_val):
    '''
    This function maps ICD-9 codes to their definition.
    '''
    
    # Check edge cases
    if 'E' in str(row_val) or 'V' in str(row_val):
        return "external causes of injury and supplemental classification"
    if '250' in str(row_val):
        return "diabetes-related"
    
    if int(row_val) >= 0 and int(row_val) <= 139:
        return "infectious and parasitic diseases"
    elif int(row_val) >= 140 and int(row_val) <= 239:
        return "neoplasms"
    elif int(row_val) >= 240 and int(row_val) <= 279:
        return "endocrine, nutritional and metabolic diseases, and immunity disorders"
    elif int(row_val) >= 280 and int(row_val) <= 289:
        return "diseases of the blood and blood-forming organs"
    elif int(row_val) >= 290 and int(row_val) <= 319:
        return "mental disorders"
    elif int(row_val) >= 320 and int(row_val) <= 389:
        return "diseases of the nervous system and sense organs"
    elif int(row_val) >= 390 and int(row_val) <= 459:
        return "diseases of the circulatory system"
    elif int(row_val) >= 460 and int(row_val) <= 519:
        return "diseases of the respiratory system"
    elif int(row_val) >= 520 and int(row_val) <= 579:
        return "diseases of the digestive system"
    elif int(row_val) >= 580 and int(row_val) <= 629:
        return "diseases of the genitourinary system"
    elif int(row_val) >= 630 and int(row_val) <= 679:
        return "complications of pregnancy, childbirth, and the puerperium"
    elif int(row_val) >= 680 and int(row_val) <= 709:
        return "diseases of the skin and subcutaneous tissue"
    elif int(row_val) >= 710 and int(row_val) <= 739:
        return "diseases of the musculoskeletal system and connective tissue"
    elif int(row_val) >= 740 and int(row_val) <= 759:
        return "congenital anomalies"
    elif int(row_val) >= 760 and int(row_val) <= 779:
        return "certain conditions originating in the perinatal period"
    elif int(row_val) >= 780 and int(row_val) <= 799:
        return "symptoms, signs, and ill-defined conditions"
    elif int(row_val) >= 800 and int(row_val) <= 999:
        return "injury and poisoning"
    else:
        return "other"

In [27]:
# Change values in each column from their code to their definition
df_diabetes['diag_1'] = df_diabetes['diag_1'].apply(icd9_code_to_definition)
df_diabetes['diag_2'] = df_diabetes['diag_2'].apply(icd9_code_to_definition)
df_diabetes['diag_3'] = df_diabetes['diag_3'].apply(icd9_code_to_definition)

Let's just check that our data is transformed correctly.

In [28]:
df_diabetes['diag_1'].unique()

array(['injury and poisoning',
       'external causes of injury and supplemental classification',
       'diseases of the digestive system',
       'diseases of the skin and subcutaneous tissue', 'diabetes-related',
       'diseases of the respiratory system', 'neoplasms',
       'endocrine, nutritional and metabolic diseases, and immunity disorders',
       'infectious and parasitic diseases',
       'diseases of the circulatory system',
       'symptoms, signs, and ill-defined conditions',
       'diseases of the musculoskeletal system and connective tissue',
       'diseases of the nervous system and sense organs',
       'diseases of the genitourinary system', 'mental disorders',
       'complications of pregnancy, childbirth, and the puerperium',
       'diseases of the blood and blood-forming organs',
       'congenital anomalies'], dtype=object)

In [29]:
df_diabetes['diag_2'].unique()

array(['endocrine, nutritional and metabolic diseases, and immunity disorders',
       'diseases of the circulatory system', 'diabetes-related',
       'diseases of the skin and subcutaneous tissue',
       'diseases of the blood and blood-forming organs',
       'symptoms, signs, and ill-defined conditions',
       'diseases of the musculoskeletal system and connective tissue',
       'injury and poisoning', 'infectious and parasitic diseases',
       'diseases of the respiratory system',
       'diseases of the digestive system',
       'diseases of the genitourinary system',
       'external causes of injury and supplemental classification',
       'mental disorders', 'neoplasms',
       'diseases of the nervous system and sense organs',
       'complications of pregnancy, childbirth, and the puerperium',
       'congenital anomalies'], dtype=object)

In [30]:
df_diabetes['diag_3'].unique()

array(['diseases of the blood and blood-forming organs',
       'diseases of the genitourinary system',
       'diseases of the digestive system',
       'endocrine, nutritional and metabolic diseases, and immunity disorders',
       'diseases of the circulatory system',
       'infectious and parasitic diseases',
       'external causes of injury and supplemental classification',
       'diseases of the musculoskeletal system and connective tissue',
       'symptoms, signs, and ill-defined conditions', 'diabetes-related',
       'mental disorders', 'diseases of the skin and subcutaneous tissue',
       'diseases of the respiratory system', 'neoplasms',
       'injury and poisoning',
       'complications of pregnancy, childbirth, and the puerperium',
       'diseases of the nervous system and sense organs',
       'congenital anomalies'], dtype=object)

In [31]:
df_diabetes.shape

(39725, 50)

Let's now take a look at the `age` column.

In [32]:
df_diabetes['age'].unique()

array(['[70-80)', '[60-70)', '[90-100)', '[50-60)', '[40-50)', '[80-90)',
       '[30-40)', '[20-30)', '[10-20)', '[0-10)'], dtype=object)

We can see that the column is an object type with a range of values from the number at the lower end of the range inclusive to the end-range number exclusive. Let's change these to be integer types with the mean value replacing each age range.

In [33]:
df_diabetes.replace({'[0-10)':15, '[10-20)':15, '[20-30)':25, '[30-40)':35, '[40-50)':45,
                     '[50-60)':55, '[60-70)':65, '[70-80)':75, '[80-90)':85, '[90-100)':95})

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
20446,72091308,20123568,Caucasian,Female,75,NaN,1,22,7,7,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
20737,72848634,20377854,Caucasian,Female,65,NaN,2,1,1,3,...,No,Steady,No,No,No,No,No,No,Yes,NO
20824,73062156,20408121,Caucasian,Female,95,NaN,1,1,7,4,...,No,No,No,No,No,No,No,No,Yes,NO
21083,73731852,20542797,Caucasian,Male,75,NaN,1,2,7,10,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
23668,80820942,20514150,Caucasian,Female,65,NaN,2,1,1,4,...,No,Up,No,No,No,No,No,Ch,Yes,<30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101760,443847176,50375628,AfricanAmerican,Female,65,NaN,1,1,7,6,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101761,443847548,100162476,AfricanAmerican,Male,75,NaN,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,85,NaN,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,75,NaN,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,85,NaN,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO

Lastly, let's choose columns in the dataframe that we want to keep for further analysis and make a smaller dataframe as a result.

In [34]:
df_diabetes = df_diabetes[['encounter_id', 'patient_nbr', 'race',
                          'gender', 'age', 'weight',
                          'admission_type_id', 'discharge_disposition_id', 'time_in_hospital',
                          'num_lab_procedures', 'num_procedures', 'num_medications',
                          'diag_1', 'diag_2', 'diag_3',
                          'number_diagnoses', 'change', 'readmitted']]
df_diabetes.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_1,diag_2,diag_3,number_diagnoses,change,readmitted
20446,72091308,20123568,Caucasian,Female,[70-80),NaN,1,22,7,58,2,15,injury and poisoning,"endocrine, nutritional and metabolic diseases,...",diseases of the blood and blood-forming organs,9,Ch,NO
20737,72848634,20377854,Caucasian,Female,[60-70),NaN,2,1,3,59,3,11,external causes of injury and supplemental cla...,diseases of the circulatory system,diseases of the genitourinary system,6,No,NO
20824,73062156,20408121,Caucasian,Female,[90-100),NaN,1,1,4,56,1,9,diseases of the digestive system,diseases of the circulatory system,diseases of the digestive system,6,No,NO
21083,73731852,20542797,Caucasian,Male,[70-80),NaN,1,2,10,68,1,18,diseases of the skin and subcutaneous tissue,diseases of the circulatory system,"endocrine, nutritional and metabolic diseases,...",6,Ch,NO
23668,80820942,20514150,Caucasian,Female,[60-70),NaN,2,1,4,33,0,11,diabetes-related,diseases of the circulatory system,diseases of the circulatory system,4,Ch,<30

We'll save the cleaned data to a file so that it can be opened in another notebook for data visualization and regression analysis.

In [35]:
df_diabetes.to_csv('diabetes.csv')